################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Contentful.Website/obj/Debug
/Contentful.Website/Contentful.Website.csproj.user
/ContentfulDemo.Web/bin
/ContentfulDemo.Web/obj/Debug
/DemoSite.sln.DotSettings.user
