################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Contentful.Website/obj/Debug
/Contentful.Website/Contentful.Website.csproj.user
/ContentfulDemo.Web/bin
/ContentfulDemo.Web/obj/Debug
/DemoSite.sln.DotSettings.user
/.vs/DemoSite/v16/Server/sqlite3
/Contentful.API/obj/Debug/Contentful.API.csprojAssemblyReference.cache
/packages
/Contentful.API/obj/Debug/
/Contentful.API/bin/Debug/
/ContentfulDemo.Web/bin/
/ContentfulDemo.Web/obj/
